<div class="comment-item">
  <div class="user-face">		
    <%= link_to  image_tag(comment.user.avatar_url(:normal)) , user_path(comment.user)  %>
  </div>

  <div class="infos"> 
    <div class="info">
	  <span class="name"><%=link_to comment.user.username, user_path(comment.user) %></span>
	  <%= comment.created_at %>
    </div>
            
    <div class="reply-doc">
	  <%= safe comment.comment %>
	  <span class="opts">
		<%= link_to '删除', [comment.commentable, comment],
                    :method => :delete,
                    :confirm => "确定删除吗?" if user_signed_in? and (comment.user == current_user or current_user.id == 1) %>
	  </span>
    </div>
  </div>	
</div>


  