<%= form_for(@post) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  
  <div class="field">
    <%= f.label :title, "标题" %>
    <%= f.text_field :title, :size => 10 %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "标签" %>
    <%= f.text_field :tag_list, :size => 10 %>
  </div>

  <div class="field" >
    <%= f.label :body, "正文" %>
    <%= f.kindeditor :body, :simple_mode => true, :owner_id => @post.id, :width => 700, :height => 400 %><br>
  </div>

  <div class="actions">
    <%= f.submit "发布", class: "btn btn-info" %>
    <%= link_to '撤销', posts_path, class: "btn" %>
  </div>
  
<% end %>
