<%= form_for(@post) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  
  <div class="field">
    <%= f.label :title, "标题" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "标签" %>
    <%= f.text_field :tag_list %>
  </div>

  <div class="field">
    <%= f.label :body, "正文" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "发布", class: "btn btn-info" %>
    <%= link_to '撤销', posts_path, class: "btn" %>
  </div>
  
<% end %>
