<% provide(:title, "博文首页") %>
<div class="row">
  <div class="span9">
    <% @posts.each do |post| %>

    <h2><%= link_to post.title, post_path(post) %></h2>
    <h4>
      <i class="icon-tags"></i>标签：<%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %><br><br>
      <i class="icon-calendar"></i>发表：<%= post.created_at %>
    </h4>
    <div class="post_body">
      <p>
        <%= markdown(post.body) %>
      </p>

      <% if admin? %>
      <%= link_to '修改', edit_post_path(post) %>
      <%= link_to '删除', post, method: :delete, data: { confirm: '确定要删除吗?' } %>
      <% end -%>

    </div> 
    <% end %>
    <%= will_paginate @posts, :previous_label => '上一页', :next_label => '下一页' %>
  </div>

  <div class="span3">
    <div class="well">
      <%= render 'shared/current_posts' %>
    </div>

    <div class="well">
      <%= render 'shared/tags' %>
    </div>
    
    <div class="well">
     <%= render 'shared/new_comments' %>
   </div>
 </div>
</div>


