<% provide(:title, @post.title) %>
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span9">
	  <h2><%= @post.title %></h2>

      <p class="text-center">
        <%= @post.body %>
      </p>

      <%= link_to '修改', edit_post_path(@post) %>
      <%= link_to '删除', edit_post_path(@post) %> 
	</div>

	<div class="span3">
		here is sides
	</div>
</div>
