<% provide(:title, @post.title) %>
<div class="row">
	<div class="span9">
	  <h2><%= @post.title %></h2>
      <p>
        标签：<%= raw @post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %>
      </p>

      <p>
        <%= markdown(@post.body) %>
      </p>
      <% if admin? %>
      <%= link_to '修改', edit_post_path(@post) %>
      <%= link_to '删除', post_path(@post), :method => :delete, :confirm => "确定删除吗?" %> <br>
      <% end -%>
      <%= render @post.comments %>

      <%= render 'comments/form' %>
	</div>

	<div class="span3">
		here is sides
	</div>
</div>
