<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  	<div class="container">
  	  <!-- <a id="logo" href="/index">Tblog</a> -->
      <%= link_to "Tblog", posts_path, :id => "logo" %>
  	  <nav>
  	  	 <ul class="nav pull-left">
  	  	<li><%= link_to "首页", posts_path%></li>
  	  	<li><%= link_to "列表", '/archives' %></li>
        <li><a href="/index">关于</a></li>
  	  </ul>

  	  <ul class="nav pull-right">
        <li><%= link_to '创建博文', new_post_path if admin? %></li>
        <% if user_signed_in? %>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.username %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "我的主页", current_user %></li>
            <li class="divrder"></li>
            <li>
              <%= link_to '退出', destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </li>
        
          
        <% else %>    
  	  	  <li><%= link_to '登录', new_user_session_path %></li>
  	  	  <li><%= link_to '注册', new_user_registration_path %></li>
        <% end -%>
  	  </ul>
  	  </nav>
  	</div>
  </div>
</header>